In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
data = pd.read_csv('train.csv')

In [ ]:
data.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
data.shape

(20800, 5)

In [ ]:
data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [ ]:
data ['Content'] = data['author'] + data['title']

In [ ]:
data.head()

   id  ...                                            Content
0   0  ...  Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1   1  ...  Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom...
2   2  ...  Consortiumnews.comWhy the Truth Might Get You ...
3   3  ...  Jessica Purkiss15 Civilians Killed In Single U...
4   4  ...  Howard PortnoyIranian woman jailed for fiction...

[5 rows x 6 columns]

In [ ]:
data.fillna(' ', inplace=True)

In [ ]:
data.isnull().sum()

id         0
title      0
author     0
text       0
label      0
Content    0
dtype: int64

In [ ]:
data[data['id'] == 0]

   id  ...                                            Content
0   0  ...  Darrell LucusHouse Dem Aide: We Didn’t Even Se...

[1 rows x 6 columns]

In [ ]:
data.drop(['id','title','author','text'],axis=1, inplace=True)

In [ ]:
data.head()

   label                                            Content
0      1  Darrell LucusHouse Dem Aide: We Didn’t Even Se...
1      0  Daniel J. FlynnFLYNN: Hillary Clinton, Big Wom...
2      1  Consortiumnews.comWhy the Truth Might Get You ...
3      1  Jessica Purkiss15 Civilians Killed In Single U...
4      1  Howard PortnoyIranian woman jailed for fiction...

In [ ]:
nltk.download('wordnet')
lm = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
def lemmezeting(x) :
  text = re.sub('[^a-zA-Z]', ' ',x)
  text = text.lower()
  text = text.split()
  text = [lm.lemmatize(i) for i in text if i not in stopwords.words('english')]
  text = ' '.join(text)
  return text

In [ ]:
data['Content'] = data['Content'].apply(lemmezeting)

In [ ]:
data.head()

   label                                            Content
0      1  darrell lucushouse dem aide even see comey let...
1      0  daniel j flynnflynn hillary clinton big woman ...
2      1        consortiumnews comwhy truth might get fired
3      1  jessica purkiss civilian killed single u airst...
4      1  howard portnoyiranian woman jailed fictional u...

In [ ]:
x = data['Content']
y = data['label']

In [ ]:
label = TfidfVectorizer()
X = label.fit_transform(x)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

In [ ]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
model.score(X_test,y_test)

0.9495192307692307

In [ ]:
model1 = MultinomialNB()
model1.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
model1.score(X_test,y_test)

0.9439903846153846

In [ ]:
model.predict(X_test)

array([1, 1, 0, ..., 1, 0, 1])

In [ ]:
model1.predict(X_test)

array([1, 1, 0, ..., 1, 0, 1])