In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('Copy of sonar data.csv', header=None)
data.head()

       0       1       2       3       4   ...      56      57      58      59  60
0  0.0200  0.0371  0.0428  0.0207  0.0954  ...  0.0180  0.0084  0.0090  0.0032   R
1  0.0453  0.0523  0.0843  0.0689  0.1183  ...  0.0140  0.0049  0.0052  0.0044   R
2  0.0262  0.0582  0.1099  0.1083  0.0974  ...  0.0316  0.0164  0.0095  0.0078   R
3  0.0100  0.0171  0.0623  0.0205  0.0205  ...  0.0050  0.0044  0.0040  0.0117   R
4  0.0762  0.0666  0.0481  0.0394  0.0590  ...  0.0072  0.0048  0.0107  0.0094   R

[5 rows x 61 columns]

In [ ]:
data.rename({60:'Target'}, axis=1, inplace=True)

In [ ]:
data.head(1)

      0       1       2       3       4  ...     56      57     58      59  Target
0  0.02  0.0371  0.0428  0.0207  0.0954  ...  0.018  0.0084  0.009  0.0032       R

[1 rows x 61 columns]

In [ ]:
X = data.drop(['Target'], axis=1)
y = data['Target']

In [ ]:
print("data X",X.shape)
print("data y",y.shape)

data X (208, 60)
data y (208,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=0)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
X_train_prediction = model.predict(X_train)

In [ ]:
train_data_accuracy = accuracy_score(y_train, X_train_prediction)

In [ ]:
print("Acuraccy model pada prediksi data x test = ", train_data_accuracy)

Acuraccy model pada prediksi data x test =  0.8493975903614458

In [ ]:
X_test_prediction = model.predict(X_test)

In [ ]:
test_data_accuracy = accuracy_score(y_test,X_test_prediction)

In [ ]:
print("Acuraccy model pada prediksi data x test = ", test_data_accuracy)

Acuraccy model pada prediksi data x test =  0.8333333333333334

In [ ]:
import numpy as np
input_data = (0.0307,0.0523,0.0653,0.0521,0.0611,0.0577,0.0665,0.0664,0.1460,0.2792,0.3877,0.4992,0.4981,0.4972,0.5607,0.7339,0.8230,0.9173,0.9975,0.9911,0.8240,0.6498,0.5980,0.4862,0.3150,0.1543,0.0989,0.0284,0.1008,0.2636,0.2694,0.2930,0.2925,0.3998,0.3660,0.3172,0.4609,0.4374,0.1820,0.3376,0.6202,0.4448,0.1863,0.1420,0.0589,0.0576,0.0672,0.0269,0.0245,0.0190,0.0063,0.0321,0.0189,0.0137,0.0277,0.0152,0.0052,0.0121,0.0124,0.0055)
model_data = np.asarray(input_data)
predict = model_data.reshape(1,-1)
hasil = model.predict(predict)
print(hasil)

if hasil == 'M':
  print('Mine')
else:
  print('Rock')

['M']
Mine

In [ ]:
predict #(sudah dlm bentuk matriks)

array([[0.0307, 0.0523, 0.0653, 0.0521, 0.0611, 0.0577, 0.0665, 0.0664,
        0.146 , 0.2792, 0.3877, 0.4992, 0.4981, 0.4972, 0.5607, 0.7339,
        0.823 , 0.9173, 0.9975, 0.9911, 0.824 , 0.6498, 0.598 , 0.4862,
        0.315 , 0.1543, 0.0989, 0.0284, 0.1008, 0.2636, 0.2694, 0.293 ,
        0.2925, 0.3998, 0.366 , 0.3172, 0.4609, 0.4374, 0.182 , 0.3376,
        0.6202, 0.4448, 0.1863, 0.142 , 0.0589, 0.0576, 0.0672, 0.0269,
        0.0245, 0.019 , 0.0063, 0.0321, 0.0189, 0.0137, 0.0277, 0.0152,
        0.0052, 0.0121, 0.0124, 0.0055]])

In [ ]:
data.head(1)

      0       1       2       3       4  ...     56      57     58      59  Target
0  0.02  0.0371  0.0428  0.0207  0.0954  ...  0.018  0.0084  0.009  0.0032       R

[1 rows x 61 columns]

In [ ]:
data['Label_Target'] = data['Target'].apply(lambda x:'Mine' if x=='M' else 'Rock')

In [ ]:
data.head(1)

      0       1       2       3  ...     58      59  Target  Label_Target
0  0.02  0.0371  0.0428  0.0207  ...  0.009  0.0032       R          Rock

[1 rows x 62 columns]