In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/dataset/music/voice.csv")
df.head(5)

   meanfreq        sd    median       Q25  ...    maxdom   dfrange   modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812  0.000000  0.000000   male
1  0.066009  0.067310  0.040229  0.019414  ...  0.054688  0.046875  0.052632   male
2  0.077316  0.083829  0.036718  0.008701  ...  0.015625  0.007812  0.046512   male
3  0.151228  0.072111  0.158011  0.096582  ...  0.562500  0.554688  0.247119   male
4  0.135120  0.079146  0.124656  0.078720  ...  5.484375  5.476562  0.208274   male

[5 rows x 21 columns]

In [ ]:
df.shape

(3168, 21)

In [ ]:
df['label'].value_counts()

male      1584
female    1584
Name: label, dtype: int64

In [ ]:
df['label_new'] = df['label'].map({'male':0, 'female': 1})

In [ ]:
df.head()

   meanfreq        sd    median       Q25  ...   dfrange   modindx  label  label_new
0  0.059781  0.064241  0.032027  0.015071  ...  0.000000  0.000000   male          0
1  0.066009  0.067310  0.040229  0.019414  ...  0.046875  0.052632   male          0
2  0.077316  0.083829  0.036718  0.008701  ...  0.007812  0.046512   male          0
3  0.151228  0.072111  0.158011  0.096582  ...  0.554688  0.247119   male          0
4  0.135120  0.079146  0.124656  0.078720  ...  5.476562  0.208274   male          0

[5 rows x 22 columns]

In [ ]:
df.drop('label', axis=1, inplace=True)

In [ ]:
df.rename({'label_new':'label'}, axis=1, inplace=True)

In [ ]:
df.head(1)

   meanfreq        sd    median       Q25  ...    maxdom  dfrange  modindx  label
0  0.059781  0.064241  0.032027  0.015071  ...  0.007812      0.0      0.0      0

[1 rows x 21 columns]

In [ ]:
df['label'].value_counts()

0    1584
1    1584
Name: label, dtype: int64

In [ ]:
df.isnull().sum()

meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
label       0
dtype: int64

In [ ]:
X = df.drop('label', axis=1)
y = df['label']

In [ ]:
from sklearn.model_selection import train_test_split

X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [ ]:
model = GaussianNB()
model1 = DecisionTreeClassifier()
model.fit(X_train, y_train)
model1.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred1 = model1.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
accuracy_score(y_pred, y_test)

0.8709968425800632

In [ ]:
accuracy_score(y_pred1, y_test)

0.9576003608479928

In [ ]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.88      0.86      0.87      1119
           1       0.86      0.89      0.87      1098

    accuracy                           0.87      2217
   macro avg       0.87      0.87      0.87      2217
weighted avg       0.87      0.87      0.87      2217

In [ ]:
print(classification_report(y_pred1, y_test))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96      1101
           1       0.95      0.97      0.96      1116

    accuracy                           0.96      2217
   macro avg       0.96      0.96      0.96      2217
weighted avg       0.96      0.96      0.96      2217